.bl-search {
    display: none!important;
    float: right;
    min-width: 26px;
    overflow: hidden;
    position: relative;
    width: 0;
    height: 26px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-backface-visibility: hidden
}
.bl-search .bl-search-input {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 40px;
    color: #444;
    font-family: inherit;
    font-size: 13px;
    margin: 0;
    outline: 0;
    padding: 0 8px;
    position: absolute;
    right: 0;
    width: 26px;
    height: 26px;
    top: 0;
    z-index: 10;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.bl-search .bl-search-input::-webkit-input-placeholder {
    color: #a9a8a8;
    opacity: 0;
    -webkit-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}
.bl-search .bl-search-input:-moz-placeholder {
    color: #a9a8a8;
    opacity: 0;
    -webkit-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}
.bl-search .bl-search-input::-moz-placeholder {
    color: #a9a8a8;
    opacity: 0;
    -webkit-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}
.bl-search .bl-search-input:-ms-input-placeholder {
    color: #a9a8a8;
    opacity: 0;
    -webkit-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out
}
.bl-search .bl-search-input:focus {
    border: 1px solid #e3e7ec;
    -webkit-appearance: none
}
.bl-search .bl-icon-search,
.bl-search .bl-search-submit {
    border-radius: 40px;
    cursor: pointer;
    display: block;
    margin: 0;
    width: 26px;
    height: 26px;
    line-height: 60px;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.bl-search .bl-icon-search:hover,
.bl-search .bl-search-submit:hover {
    background: #f1f3f4
}
.bl-search .bl-icon-search:hover .icon-search,
.bl-search .bl-search-submit:hover .icon-search {
    color: #596169
}
.bl-search .bl-search-submit {
    background: #fff;
    -ms-filter: "alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    border: 0;
    outline: 0;
    z-index: -1
}
.bl-search .bl-icon-search {
    z-index: 90
}
.bl-search .icon-search {
    color: #999;
    font-size: 18px;
    top: -14px;
    padding: 2px;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out
}
.bl-search.bl-search-open,
.bl-search.bl-search-open .bl-search-input {
    background: #f1f3f4;
    border-radius: 40px;
    width: 170px;
    padding: 0 30px 0 15px
}
.bl-search-open .bl-search-input::-webkit-input-placeholder {
    opacity: 1
}
.bl-search-open .bl-search-input:-moz-placeholder {
    opacity: 1
}
.bl-search-open .bl-search-input::-moz-placeholder {
    opacity: 1
}
.bl-search-open .bl-search-input:-ms-input-placeholder {
    opacity: 1
}
.bl-search.bl-search-open .bl-icon-search {
    background: rgba(255, 255, 255, 0);
    z-index: 11
}
.bl-search-open .icon-search {
    color: #596169
}
.serp .gsc-above-wrapper-area {
    border-bottom-width: 4px;
    border-bottom-color: #e7ebed
}
.serp .gsc-results {
    width: 100%
}
.serp .gsc-result-info {
    color: #a1a7ad;
    padding-left: 0
}
.serp .gsc-control-cse,
.serp .gsc-table-result {
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif!important;
    font-size: 14.5px!important
}
.serp .cse .gsc-control-cse,
.serp .gsc-control-cse {
    padding: 0
}
.serp .gsc-inline-block {
    width: inherit!important
}
.serp .gsc-orderby-label {
    color: #a1a7ad;
    font-size: 13px
}
.serp .gs-web-image-box img.gs-image,
.serp .gs-promotion-image-box img.gs-promotion-image {
    border: 0;
    max-height: inherit;
    max-width: 190px
}
.serp .gs-web-image-box,
.serp .gs-promotion-image-box {
    text-align: left;
    width: 195px
}
.serp .gsc-table-cell-thumbnail,
.serp .gs-promotion-image-cell {
    padding-bottom: .5em
}
.serp .gsc-control-cse .gs-spelling,
.serp .gsc-control-cse .gs-result .gs-title,
.serp .gsc-control-cse .gs-result .gs-title * {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -.25px;
    text-decoration: none
}
.serp .gsc-result .gs-title {
    height: auto
}
.serp .gs-webResult div.gs-visibleUrl,
.serp .gs-imageResult div.gs-visibleUrl {
    font-size: 12.5px;
    padding-top: 1.5em
}
.serp .gs-webResult .gs-snippet,
.serp .gs-imageResult .gs-snippet,
.serp .gs-fileFormatType {
    color: #a1a7ad;
    font-size: 15.5px;
    line-height: 1.75em
}
.serp .gs-webResult .gs-snippet,
.serp .gs-imageResult .gs-snippet,
.serp .gs-fileFormatType,
.serp .gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left a b {
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}
.serp b {
    font-weight: 600
}
.serp .gsc-results .gsc-cursor-box {
    margin: 3em 0;
    text-align: center
}
.serp .gsc-results .gsc-cursor-box .gsc-cursor-page {
    color: #a7b2c2;
    text-decoration: none;
    margin-right: 15px;
    padding: 4px
}
.serp .gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
    color: #189cd9
}
.serp .gsc-results .gsc-cursor-box .gsc-cursor-page:focus {
    outline: 0
}
.serp .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    color: #656565
}
.serp .gsc-table-cell-thumbnail.gsc-thumbnail {
    display: block!important;
    width: 230px
}
.serp .cse .gsc-webResult.gsc-result,
.serp .gsc-webResult.gsc-result,
.serp .gsc-imageResult-column,
.serp .gsc-imageResult-classic {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 0;
    padding: 2em;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.serp .cse .gsc-webResult.gsc-result:hover,
.serp .gsc-webResult.gsc-result:hover,
.serp .gsc-imageResult-column:hover,
.serp .gsc-imageResult-classic:hover {
    background: #f8f9fa;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}
.serp .cse .gsc-webResult.gsc-result:hover .gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left a,
.serp .gsc-webResult.gsc-result:hover .gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left a,
.serp .gsc-imageResult-column:hover .gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left a,
.serp .gsc-imageResult-classic:hover .gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left a,
.serp .cse .gsc-webResult.gsc-result:hover .gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left a b,
.serp .gsc-webResult.gsc-result:hover .gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left a b,
.serp .gsc-imageResult-column:hover .gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left a b,
.serp .gsc-imageResult-classic:hover .gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left a b {
    color: #199cd8
}
.serp .cse .gsc-webResult.gsc-result:hover .gs-bidi-start-align.gs-snippet,
.serp .gsc-webResult.gsc-result:hover .gs-bidi-start-align.gs-snippet,
.serp .gsc-imageResult-column:hover .gs-bidi-start-align.gs-snippet,
.serp .gsc-imageResult-classic:hover .gs-bidi-start-align.gs-snippet {
    color: #555
}
.serp .gs-no-results-result .gs-snippet,
.serp .gs-error-result .gs-snippet {
    background: 0;
    border: 0;
    text-align: center
}
@media (min-width: 992px) {
    .bl-search.bl-search-open,
    .bl-search.bl-search-open .bl-search-input {
        width: 200px
    }
    .serp .cse .gsc-webResult.gsc-result,
    .serp .gsc-webResult.gsc-result,
    .serp .gsc-imageResult-column,
    .serp .gsc-imageResult-classic {
        padding: 3.5em
    }
    .serp .gs-web-image-box,
    .serp .gs-promotion-image-box,
    .serp .gs-web-image-box img.gs-image,
    .serp .gs-promotion-image-box img.gs-promotion-image {
        max-width: 230px
    }
    .serp .gsc-table-cell-thumbnail.gsc-thumbnail {
        width: 275px
    }
}
@media (min-width: 768px) {
    .bl-search {
        display: block!important
    }
}
.serif {
    font-family: Georgia, "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased
}
.all-caps {
    text-transform: uppercase;
    letter-spacing: 1px
}
.blog-featured {
    background-size: 150%;
    position: relative;
    text-align: center
}
.blog-featured .link {
    display: block;
    padding: 2.25em 0 1em;
    position: relative;
    text-decoration: none;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}
.blog-featured .link:hover h2 span {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, .4) 50%);
    background-repeat: repeat-x;
    background-size: 3px 3px;
    background-position: 0 40px
}
.blog-featured .feature-contents {
    position: relative
}
.blog-featured img {
    margin-bottom: 0;
    max-width: 580px;
    width: 100%
}
.blog-featured h2,
.blog-featured .feature-title,
.blog-featured .meta {
    margin: 8px 0
}
.blog-featured h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3em;
    opacity: 1;
    margin-bottom:0.5em;
    -webkit-transition: font-size .25s ease;
    -o-transition: font-size .25s ease;
    transition: font-size .25s ease
}
.blog-featured .feature-title,
.blog-featured .meta {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}
.blog-featured .feature-title {
    color: #fff;
    display: inline-block;
    line-height: 1.6em;
    opacity: .5
}
.blog-featured .meta,
.blog-featured .meta a {
    color: rgba(255, 255, 255, .5);
    display: inline-block
}
.blog-featured .meta a:hover {
    color: #fff
}
.blog-featured-link {
    color:#fff;
    opacity:1;
    text-decoration: underline;
}
.featured-desc {
    color:#fff;
    opacity:.8;
}
#post-nav {
    background: #eaebed;
    margin-bottom: 2em
}

#post-content a,
#author a {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .4) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 16px;
    color: #222;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease
}
#post-content a:hover,
#author a:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #1091e7 50%)
}
#post-content a:hover,
#author a:hover,
#post-content a:hover strong,
#author a:hover strong {
    color: #1091E7
}
#post-content {
    margin: 2em auto;
    max-width: 720px
}
#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4 {
    -webkit-font-smoothing: auto
}
#post-content h2 {
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 600;
    margin: 1.8em 0 .8em
}
#post-content h3,
#post-content dt {
    color: #242424;
    font-size: 21px;
    font-weight: 500;
    line-height: 27px;
    margin: 2em 0 1em
}
#post-content h3 a,
#post-content dt a {
    background-position: 0 22px
}
#post-content h4 {
    font-size: 20px
}
#post-content h5 {
    text-transform: uppercase;
    letter-spacing: 1px
}
#post-content p,
#post-content ul,
#post-content li,
#post-content ol,
#post-content dd,
#post-content blockquote,
#post-content section {
    color: #222;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 17px;
    line-height: 25.5px;
    margin-bottom: 23px
}
#post-content section#email-cta {
    margin-bottom: 50px
}
#post-content hr.dark-gray {
    border-top-color: #d5d5d5
}
#post-content hr.small {
    border-top-color: #c3c6ca;
    border-width: 3px;
    margin: 3em auto;
    width: 30%
}
#post-content p:last-child {
    margin-bottom: 0
}
#post-content p.badge-text {
    margin-left: 10px
}
#post-content p.badge-text.small {
    padding-left: 75px
}
#post-content p.badge-text.large {
    padding-left: 137px
}
#post-content .btn {
    background-image: none
}
#post-content .btn:hover {
    background-image: none;
    color: inherit
}
#post-content ul img,
#post-content ol img {
    margin-left: 0
}
#post-content strong {
    color: #2f2f2f
}
#post-content img {
    display: block;
    margin: 2.5em auto;
    max-width: 100%
}
#post-content .browser-bar {
    margin: 4em auto
}
#post-content .browser-bar>img {
    margin: 0 auto
}
#post-content iframe {
    display: block;
    margin: 2.5em auto;
    width: 100%
}
#post-content span.underline {
    text-decoration: underline
}
#post-content .modal-body>img {
    margin: 0
}
#post-content .bdr {
    border: 1px solid #dfdfdf;
    padding: 1px
}
#post-content .bdr-large {
    background: #f1f3f4;
    padding: 1.25em
}
#post-content .shadow {
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .09)
}
#post-content .right,
#post-content .left {
    margin: 0 auto 30px;
    text-align: center
}
@media (min-width: 500px) {
    #post-content .right,
    #post-content .left {
        max-width: 50%
    }
}
@media (min-width: 500px) {
    #post-content .right {
        float: right;
        margin: 0 0 15px 30px
    }
}
#post-content .right img {
    margin: 0 auto 10px
}
@media (min-width: 500px) {
    #post-content .right img {
        margin: 0 0 10px
    }
}
#post-content .right img+em {
    margin-top: 0
}
@media (min-width: 500px) {
    #post-content .left {
        float: left;
        margin: 0 30px 15px 0
    }
}
#post-content .btn-primary {
    color: #fff;
    -webkit-font-smoothing: auto
}
#post-content .btn-primary:hover {
    color: #fff
}
#post-content blockquote {
    font-family: Georgia, "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    border-left: 3px solid #222;
    margin: 35px 0;
    padding: 5px 0 5px 18px
}
#post-content blockquote a {
    background-size: 1px 2px
}
#post-content blockquote small a {
    background-position: 0 13px
}
#post-content blockquote.large {
    border: 0;
    color: #a9afb3;
    font-size: 1.85em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3em;
    margin: 1.5em 0;
    padding: 0;
    text-align: center
}
#post-content blockquote.large a {
    background-position: 0 21px
}
#post-content blockquote.large br {
    display: none
}
#post-content blockquote.single {
    padding-bottom: 0
}
#post-content blockquote.single span {
    display: block;
    margin-top: 10px
}
#post-content blockquote.top {
    margin: .85em 0 1.3em
}
#post-content blockquote img {
    margin: 0
}
#post-content .quote-auth {
    border-radius: 50px;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px
}
#post-content cite {
    display: block;
    font-size: 85%;
    line-height: 1.8em;
    margin-top: .85em
}
#post-content code {
    background: #eee;
    font-size: .9em;
    padding: 1px 5px
}
#post-content [id^=twitter-] {
    margin: 2.5em auto 3em!important
}
#post-content .callout {
    background: #F3F4F6;
    margin: 2em 0;
    padding: 1em 1em 1.5em;
    -webkit-font-smoothing: antialiased
}
#post-content .callout:first-child {
    margin-top: 0
}
#post-content .callout:last-child {
    margin-bottom: 0
}
#post-content .callout ol,
#post-content .callout ul {
    margin-top: 1.5em
}
#post-content .callout ol.upper-alpha,
#post-content .callout ul.upper-alpha {
    list-style-type: upper-alpha
}
#post-content .callout h2,
#post-content .callout h3,
#post-content .callout h4,
#post-content .callout h5 {
    margin: 0 0 15px
}
#post-content .callout.blurb {
    text-align: center
}
#post-content .callout.blurb img {
    margin: 1.3em auto
}
#post-content .callout.blurb p {
    margin: 12px;
    padding-bottom: 12px
}
#post-content .callout.blue {
    background: #e7f4fd
}
#post-content .callout.red {
    background: #ffefef
}
#post-content .callout.yellow {
    background: #fcf8e2
}
#post-content .callout.transparent {
    background: 0 0;
    border: 1px solid #dadfe2
}
#post-content .callout.tweet {
    background: #f9f7eb url(../images/blog/twitter.png) no-repeat 35px 30px;
    padding: 1.2em 1.5em 1.2em 82px
}
#post-content .callout.tweet span {
    display: block;
    margin-top: .5em
}
#post-content .callout.tweet span>a {
    font-size: 75%;
    opacity: .8
}
#post-content .callout.small {
    color: #999;
    font-size: 1.2em;
    line-height: 1.5em
}
#post-content .callout.lead-in {
    margin-top: 10px;
    padding: 1.5em
}
#post-content .callout blockquote {
    margin: 0
}
#post-content .callout.resource.white {
    background: #fff
}
#post-content .callout.resource img {
    float: left;
    margin: 0 20px 0 0
}
#post-content .callout.resource p {
    margin: 15px 15px 0 0
}
#post-content .callout.large p {
    font-size: 1.5em
}
#post-content figure {
    position: relative
}
#post-content figure .conversationImg {
    max-width: 50px
}
#post-content figure.conversation>p {
    margin-left: 70px
}
#post-content figure.conversation ol,
#post-content figure.conversation ul>p {
    margin-left: 30px
}
#post-content figure cite {
    color: gray;
    font-style: italic
}
#post-content figure.bdr-large {
    margin: 2.5em 0
}
#post-content figure.bdr-large img {
    margin: 0
}
#post-content figure.bdr-large .imgCaption {
    margin: 15px 0 0
}
#post-content .poster {
    margin: 2.5em 0
}
#post-content .poster img {
    max-width: 100%
}
#post-content .collage img {
    margin: 0 0 1.25em
}
#post-content .collage blockquote {
    border-left: 0;
    color: #2a4258;
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    position: relative;
    quotes: "\201C" "\201D" "\2018" "\2019"
}
#post-content .collage blockquote:before {
    content: open-quote;
    position: absolute;
    left: 6px
}
#post-content .collage blockquote:after {
    content: close-quote
}
#post-content .highlight {
    background: #fff3a8;
    padding: 0 4px
}
#post-content img.featureImg {
    float: right;
    margin: 10px 0 25px 25px;
    max-height: 200px;
    min-height: 100px;
    width: auto
}
#post-content img.quoteImg-l {
    float: left;
    width: auto
}
#post-content img.quoteImg-l.flush-l {
    margin: 7px 20px 0 0
}
#post-content img.quoteImg-l.largeQuote-l {
    margin: 0 20px
}
#post-content img.quoteImg-l.round {
    margin: 8px 20px 0;
    width: 70px;
    height: 70px;
    border-radius: 70px
}
#post-content img.quoteImg-r {
    float: right;
    width: auto
}
#post-content img.quoteImg-r.flush-r {
    margin: 7px 0 0 20px
}
#post-content .imgCaption a {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .3) 50%);
    background-position: 0 13px;
    color: #999
}
#post-content .imgCaption a:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .6) 50%);
    color: #555
}
#post-content .imgCaption {
    color: #a2a7a9;
    display: block;
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    margin: -25px 0 25px;
    padding: 6px 0;
    text-align: center;
    -webkit-font-smoothing: auto
}
#post-content .lead {
    font-family: Georgia, "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 30px
}
#post-content .lead:first-letter {
    float: left;
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
    font-size: 2.875em;
    font-weight: 700;
    line-height: 50px;
    margin: 4px 8px -5px 0
}
#post-content .lead a {
    background-position: 0 25px
}
#post-content ol {
    counter-reset: item
}
#post-content ol li {
    display: block;
    position: relative
}
#post-content ol li:before {
    position: absolute;
    left: -60px;
    width: 50px;
    text-align: right;
    content: counter(item) ".";
    counter-increment: item;
    font-weight: 700
}
#post-content dl {
    counter-reset: counter;
    margin-bottom: 2.5em
}
#post-content dl dt {
    color: #222;
    font-size: 22px;
    line-height: 1.35em;
    margin-bottom: .65em;
    position: relative;
    padding-left: 60px;
    font-family: Georgia, "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased
}
#post-content dl dt>a {
    background-position: 0 22px
}
#post-content dl dt span {
    display: none
}
#post-content dl dt:before {
    border: 1px solid #bdc2ca;
    border-radius: 100%;
    color: #4f5256;
    content: counter(counter);
    counter-increment: counter;
    font: 600 15px/1 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
    left: 0;
    padding-top: 12px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
    height: 40px
}
#post-content dl dd {
    padding-left: 60px
}
#post-content .resource-link img {
    float: left;
    margin: 0 8px 0 0
}
#post-content .resource-link p {
    display: block;
    margin-top: 38px
}
#post-content .resource-link .clear {
    clear: both
}
#post-content span.title-badge {
    background: #e7f4fd;
    color: #366989;
    font-weight: 400;
    padding: 3px 7px;
    margin-right: 10px;
    line-height: 2em;
    border-radius: 3px
}
#post-content span.title-badge.yellow {
    background: #f2bc17;
    color: #fff
}
#post-content span.title-badge.blue {
    background: #6AAECF;
    color: #fff
}
#post-content span.title-badge.sans {
    margin-top: 8px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif
}
#post-content span.check {
    color: #43ac6d;
    display: inline-block;
    margin-right: 13px
}
#author {
    margin: 4em auto 2em;
    max-width: 720px;
    text-align: center
}
#author a {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .3) 50%);
    background-position: 0 13px;
    color: #999
}
#author a:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .6) 50%);
    color: #555
}
#author a>img,
#author img {
    border-radius: 100%;
    display: block;
    margin: 0 auto 1.2em;
    width: 80px
}
#author p {
    color: #999;
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: italic;
    line-height: 20px
}
.headshot {
    border: 5px solid #e3e7e9;
    border-radius: 100%;
    width: 150px;
    height: 150px
}
#post-content>.blog-post>p:first-child {
    font-size: 22px;
    line-height: 30px
}
#post-content>.blog-post>p:first-child a {
    background-position: 0 25px
}
#post-content>.blog-post>p:first-child:first-letter {
    float: left;
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
    font-size: 2.875em;
    font-weight: 700;
    line-height: 50px;
    margin: 6px 8px -5px 0
}
.blog-post p,
.blog-post li,
.blog-post dd {
    font-family: Georgia, "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased
}
#post-content .gist {
    margin-bottom: 24px
}
#post-content .gist .highlight {
    background: #fff
}
#post-content .gist .gist-data {
    border-radius: 3px
}
#post-content .gist .gist-meta {
    display: none
}
#post-content .gist .gist-file {
    border-bottom: 0
}
#post-content .gist .file-data,
#post-content .gist .line-numbers {
    background: #fff
}
#email-cta {
    background: #6aaecf;
    margin: 0 auto 2.5em;
    max-width: 720px;
    padding: 20px;
    text-align: center
}
#email-cta p,
#email-cta strong,
#email-cta small {
    color: #fff;
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif
}
#email-cta p {
    font-size: 18px;
    line-height: 26px
}
#email-cta small {
    color: rgba(255, 255, 255, .7)
}
#share {
    text-align: center
}
#share p {
    font-size: 12px;
    color: #999
}
#share .share-button {
    height: 45px;
    margin: 15px auto
}
#share .share-button>label {
    background: #bbb;
    border: 0;
    border-radius: 3px;
    padding: 5px 15px 13px
}
#share .share-button>label:hover {
    background: #777;
    border-color: #a5a5a5;
    opacity: 1
}
#share .share-button>label:before {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 2px
}
#share .share-button span {
    color: #fff;
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif
}
#share .share-button li {
    color: #fff;
    font-size: 22px;
    line-height: 23px;
    margin-bottom: 0;
    padding: 12px 10px
}
#share .share-button .social ul {
    width: 160px
}
#share .share-button .social ul:after {
    display: none
}
#share .share-button .social .icon-facebook {
    display: none
}
.newsletter {
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;
    text-align: left
}
.newsletter input {
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}
.newsletter .email-add,
.newsletter .btn {
    height: 50px
}
.newsletter .email-add {
    background: #f2f2f2;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #555;
    overflow: hidden;
    padding: 13px 35% 13px 15px;
    text-overflow: ellipsis;
    width: 100%
}
.newsletter .email-add:hover,
.newsletter .email-add:focus {
    border: 1px solid #5e92ad
}
.newsletter .email-add:focus {
    background: #fff;
    color: #333
}
.newsletter .btn {
    border: 0;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-family: 'Whitney SSm A', 'Whitney SSm B', "Lucida Grande", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
    padding: 15px 20px;
    position: absolute;
    right: 15px;
    top: 0
}
.quote-generator {
    position: relative;
    margin: 50px 0 30px;
    max-width: 650px
}
.quote-generator #quote-decoration {
    position: absolute;
    top: -54px;
    left: 50%;
    margin-left: -23px;
    height: 49px;
    width: 47px
}
.quote-generator #outer {
    background: #F1F1F1;
    border: 1px solid #C7C7C7;
    border-radius: 4px;
    padding: 4px;
    text-align: center
}
.quote-generator #outer #quote-title {
    color: #393839;
    background: #fff;
    font-family: Georgia, "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    padding: 30px 40px 20px;
    font-size: 20px;
    line-height: 1.4em
}
.quote-generator #outer #quote-body {
    display: inline-block;
    padding: 20px 0 0;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #A7A7A7
}
.quote-generator #outer #db-link {
    padding-top: 5px;
    display: inline-block;
    color: #a7a7a7;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 17px;
    margin-right: 15px
}
#related-posts {
    margin-bottom: 2em;
    padding: 0 16px
}
#related-posts>.container-fluid {
    max-width: 690px;
    padding: 0
}
#related-posts h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #e4e4e4;
    color: #999;
    font-size: 13px;
    font-weight: 400;
    margin: 0 auto 2.5em;
    text-align: center
}
#related-posts h2>span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    top: 9px
}
#related-posts .post {
    min-height: 210px
}
.share-page>a {
    background: rgba(236, 236, 236, .45);
    border-radius: 100px;
    color: rgba(42, 42, 42, .4);
    display: inline-block;
    padding: 8px;
    position: relative
}
.share-page>a[class*=icon-]:hover {
    color: #fff
}
.share-page>a.icon-email {
    font-size: 17px;
    padding: 10px
}
.share-page>a:focus {
    text-decoration: none
}
.share-page>a:last-child {
    margin-bottom: 0
}
.share-page>a.icon-twitter:hover {
    background: #04aceb
}
.share-page>a.icon-facebook:hover {
    background: #3b5998
}
.share-page>a.icon-gplus:hover {
    background: #f44336
}
.share-page>a.icon-email:hover {
    background: #a4a4a4
}
.share-this-post {
    position: relative;
    margin: 3em auto;
    text-align: center
}
.share-this-post a {
    margin: 0 10px
}
.share-this-post .affix,
.share-this-post .affix-top {
    position: relative
}
.archive h1 {
    color: #555;
    font-size: 22px;
    font-weight: 600
}
.archive h1+p {
    color: gray;
    font-weight: 300;
    margin-top: -5px
}
.pagination {
    margin-bottom: 4em;
    text-align: center
}
.pagination>.btn {
    color: #a0a0a0;
    margin: 10px
}
@media (min-width: 992px) {
    #post-content blockquote {
        margin: 35px 0;
        padding-left: 21px
    }
    #post-content blockquote.large {
        font-size: 45px;
        letter-spacing: -.65px;
        line-height: 55px;
        margin: 1em -100px;
        -webkit-font-smoothing: antialiased
    }
    #post-content blockquote.large a {
        background-position: 0 46px
    }
    #post-content blockquote.large cite,
    #post-content blockquote.large small {
        font-size: 55%
    }
    #post-content blockquote.large.top {
        margin-top: .5em
    }
    #post-content .poster {
        margin: 4em -100px
    }
    #post-content .collage blockquote {
        padding: 0 2.4em
    }
    #post-content .collage blockquote:before {
        left: 40px
    }
    #post-content img {
        width: auto;
        max-width: 100%
    }
    #related-posts .col-md-4 {
        height: 265px
    }
    #post-nav {
        margin-bottom: 5em
    }
    .share-page {
        display: block;
        position: absolute;
        padding-left: 28px;
        top: 45px;
        width: 48px;
        z-index: 5
    }
    .share-page.affix {
        position: fixed;
        top: 45px
    }
    .share-page.affix-top {
        top: 45px
    }
    .share-page.affix-top,
    .share-page.affix-bottom {
        position: absolute
    }
    .share-this-post {
        margin: 0
    }
    .share-this-post a {
        margin-bottom: 10px
    }
}
@media (min-width: 768px) {
    #post-content {
        margin: 3em auto
    }
    #post-content .callout {
        padding: 2.25em 2em 2.5em
    }
    #post-content hr.small {
        border-width: 4px;
        margin: 5em auto;
        width: 20%
    }
    .blog-featured h2 {
        font-size: 38px
    }
    .blog-featured .link {
        padding: 3.5em 0 1em
    }
    #related-posts {
        padding: 0 2.4em
    }
    #related-posts h2 {
        margin-bottom: 3.5em
    }
    #related-posts .post-box>p {
        font-size: 13px;
        padding: 15px
    }
    #related-posts .post-box .category {
        font-size: 12.5px
    }
    #related-posts .post-box .category:before,
    #related-posts .post-box .category:after {
        top: 9px;
        width: 20px
    }
    #related-posts .post-box .category:before {
        left: -28px
    }
    #related-posts .post-box .category:after {
        right: -28px
    }
    #post-content h2 {
        font-size: 27px;
        line-height: 38px
    }
    #post-content h3,
    #post-content dt {
        font-size: 23px;
        line-height: 31px
    }
    #post-content h3 a,
    #post-content dt a {
        background-position: 0 24px
    }
    #post-content h5 {
        font-size: 17px
    }
    #post-content p,
    #post-content li,
    #post-content blockquote,
    #post-content dd,
    #post-content section {
        font-size: 19px;
        line-height: 29px
    }
    #post-content a {
        background-position: 0 18px
    }
    #post-content hr {
        margin: 45px 0
    }
    #post-content blockquote small a {
        background-position: 0 15px
    }
    #post-content blockquote.large br {
        display: inline-block
    }
    #post-content dl dt {
        font-size: 25px
    }
    #post-content dl dt>a {
        background-position: 0 24px
    }
    #email-cta {
        padding: 25px 40px
    }
    #email-cta p {
        font-size: 18px;
        margin-bottom: 22px
    }
    #email-cta small {
        font-size: 75%
    }
    #author a {
        width: 80px
    }
    #author a>img,
    #author img {
        float: left
    }
    #author a {
        background-position: 0 15px
    }
    #author p {
        font-size: 15px;
        line-height: 23px;
        padding: 5px 0 0 100px;
        text-align: left
    }
}
#post-content>.blog-post>p:first-child {
    font-size: 1.85em;
    line-height: 1.4em
}
#post-content>.blog-post>p:first-child:first-letter {
    line-height: 60px
}
@media (min-width: 767px) and (max-width: 991px) {
    #post-content blockquote.large {
        font-size: 35px;
        letter-spacing: -.65px;
        line-height: 50px;
        margin: 1em 0
    }
    #post-nav {
        margin-bottom: 3em
    }
}
@media (max-width: 767px) {
    h5,
    p,
    li {
        font-size: 14px
    }
}
.hdApps {
    list-style: none;
    margin: 0 0 2em
}
.hdApps li {
    padding: 1em 0;
    clear: both
}
.hdApps li i {
    display: block;
    float: left;
    width: 66px;
    height: 66px;
    margin: 0 1.2em 1em 0;
    background: url(/images/blog/hs-apps.jpg) no-repeat
}
.hdApps li i.awsVoxel,
.hdApps li i.analyticsKiss,
.hdApps li i.buffHoot,
.hdApps li i.campf,
.hdApps li i.fmi {
    width: 132px
}
.hdApps li i.stack {
    background-position: -133px 0
}
.hdApps li i.analyticsKiss {
    background-position: -199px 0
}
.hdApps li i.ncheap {
    background-position: -331px 0
}
.hdApps li i.relic {
    background-position: -397px 0
}
.hdApps li i.ping {
    background-position: 0 -67px
}
.hdApps li i.rejoin {
    background-position: -67px -67px
}
.hdApps li i.wistia {
    background-position: -133px -67px
}
.hdApps li i.bitly {
    background-position: -199px -67px
}
.hdApps li i.buffHoot {
    background-position: -265px -67px
}
.hdApps li i.cMon {
    background-position: -397px -67px
}
.hdApps li i.clarify {
    background-position: 0 -133px
}
.hdApps li i.ghop {
    background-position: -67px -133px
}
.hdApps li i.hsApp {
    background-position: -133px -133px
}
.hdApps li i.join {
    background-position: -199px -133px
}
.hdApps li i.snap {
    background-position: -265px -133px
}
.hdApps li i.onePass {
    background-position: -331px -133px
}
.hdApps li i.bpIt {
    background-position: -397px -133px
}
.hdApps li i.buzz {
    background-position: 0 -199px
}
.hdApps li i.campf {
    background-position: -67px -199px
}
.hdApps li i.cloudApp {
    background-position: -199px -199px
}
.hdApps li i.dbox {
    background-position: -265px -199px
}
.hdApps li i.fmi {
    background-position: -331px -199px
}
.hdApps li i.flow {
    background-position: 0 -265px
}
.hdApps li i.fcc {
    background-position: -67px -265px
}
.hdApps li i.gApps {
    background-position: -133px -265px
}
.hdApps li i.hFax {
    background-position: -199px -265px
}
.hdApps li i.trello {
    background-position: -265px -265px
}